<app-main-layout>
  <ng-container title> Signals </ng-container>
  <ng-container container>
    <mat-tab-group>
      <mat-tab label="Example">
        <h2>Counter: {{ count() }}</h2>
        <h2>DoubleCount: {{ doubleCount() }}</h2>
        <button mat-raised-button color="primary" (click)="updateCount()">Click</button>
      </mat-tab>
      <mat-tab label="User Profile">
        <app-user-profile />
      </mat-tab>
      <mat-tab label="Cart Manager">
        <app-cart />
      </mat-tab>
      <mat-tab label="Booking">
        <app-booking />
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</app-main-layout>
